.row .col-xs-3.col-lg-3,
.row .col-xs-9.col-lg-9 {
  padding-right: 0;
}

#page-container {
  position: relative;
  min-height: 100vh;
  overflow-y: hidden;
  background: #F9F9F9;
}

#content-wrap {
  padding-bottom: 3.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#main-container {
  padding-top: 60px;
  background: #F9F9F9;
}

.full-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}

app-menu {
  box-shadow: 5px 0 20px 0 #EEEEEE;
  z-index: 2;
}

app-footer {
  z-index: 2;
}
