<div class="toasty-container">
  <img src="assets/images/faces/toasty.png" alt="toasty" width="70" height="70">
</div>

<div class="speech-bubble p-3 d-none">
  <span class="text-primary font-weight-bold">¡Hola!</span><br> ¿Necesitas ayuda o tienes dudas? Da clic sobre mi.
</div>
<div class="support-container" data-toggle="modal" data-target="#modal-support">
  <a href="javascript:void(0);">
    <img src="assets/images/faces/sofia_support.png" alt="customer support" width="110" height="110">
  </a>
</div>
<footer id="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">

    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
      <a href="javascript:void(0);" class="text-muted">Aviso de privacidad</a><br>
      <a href="#" target="_blank" class="text-muted">Preguntas frecuentes</a>
    </span>


    <span class="float-none float-sm-right d-block mt-1 mt-sm-0">
      <span><i class="mdi mdi-email text-muted"></i> correo@ejemplo.com</span><br>
    </span>

    <span class="float-none float-sm-right d-block mt-1 mt-sm-0">
      <span><i class="mdi mdi-map-marker text-muted"></i> direccion</span><br>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ciudad</span>
    </span>

    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021
    </span>

    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
      Hecho con <i
      class="mdi mdi-heart text-danger"></i> por Ricardo Herrera
    </span>

  </div>
</footer>

<!-- Floating Action Button like Google Material -->
<div id="actions" class="menu pmd-floating-action" role="navigation">
  <a class="float-btn pmd-floating-action-btn  pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-success"
     data-title="Add" href="javascript:void(0);" data-toggle="modal" data-target="#modal-support">
    <span class="pmd-floating-hidden">Primary</span>
    <i class="mdi mdi-message-outline"></i>
  </a>
</div>
